*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#khungcha{
    padding: 72px 0 125px;
    background-color: #cfcdcd;
}

#logo{
    width: 50%;
}

#khungcha #khungcon{
    margin: 0 auto;
    padding: 20px 0;
    max-width: 800px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#khungcha #khungcon #logo{
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
}

#khungcha #form{
    display: inline-block;
    text-align: left;
}

#form input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form input[type="submit"]{
    
    background-color: #ff7300;
    color: #fff;
    cursor: pointer;
}

#form input[type="submit"]:hover{
    
    background-color:  #d36002;
}

#links {
    margin-top: 10px;
}

#links a {
    text-decoration: none;
    color: #ff7300;
    padding: 0px 123px;
}

#links a:hover {
    text-decoration: underline;
}

#fooder{
    padding: 30px 20px;
    background-color: rgb(0, 0, 0);
    line-height: 1.4;
    color: #FFF;
}

#fooder .diachi{
    display: inline-block;
    width: 47%;
    margin-left: 30px;
}

#fooder h4{
    margin-bottom: 20px;
}
